<% include ../partials/header %>
<div class="container">
<a id="show-btn" class="btn btn-secondary btn-sm" href="/profiles">Back to profiles</a>
    <div class="row">
        <div class="col-md-6 offset-md-3" style="text-align: center;" >
            <h1 id="mtp-h1">Create a profile</h1>
            <p>Tell you own story and connect with our network of legends</p>
            <br>
        </div>
        <div class="col-md-6">
        <form action="/profiles" method="POST">
                <div class="form-group">
                    <label>Your Name</label>
                    <input class="form-control" type="text" name="name" placeholder="Nickname is fine.. this isnt LinkedIn" required>
                </div>
                <div class="form-group">
                    <label>Your Email</label>
                    <input class="form-control" type="email" name="userEmail" placeholder="person@something.com" required>
                </div>
                <div class="form-group">
                    <label>Upload a Profile Image</label>
                    <input class="form-control" type="text" name="image" placeholder="please enter an image url" required>
                    <p>Good quality pics please. This ain't no shitshow</p>
                </div>
                <div class="form-group">
                    <label>Where do you currently work?</label>
                    <input class="form-control" type="text" name="venue" placeholder="Your current workplace will do" required>
                </div>
                <div class="form-group">
                    <label>What is your current role?</label>
                    <input class="form-control" type="text" name="role" placeholder="Aside from being a legend" required>
                </div>
                <div class="form-group">
                    <label>Your Current City</label>
                    <input class="form-control" type="text" name="currentCity" placeholder="Where you work and reside" required>
                </div>
                <div class="form-group">
                    <label>Your Country</label>
                    <input class="form-control" type="text" name="currentCountry" placeholder="3 letter abbreviation please Ie. AUS" required>
                </div>
                <div class="form-group">
                    <label>What's your Insta profile?</label>
                    <p class="form-control">@<input class="col-md-4" type="text" name="instaHandle"></p>
                </div>
                <div class="form-group">
                    <label>And Twitter handle?</label>
                    <p class="form-control">@ <input class="col-md-4" type="text" name="twitterHandle"></p>
                </div>
                <div class="form-group">
                    <label>Tell us a little quote you live by</label>
                    <textarea class="form-control" rows="3" type="text" name="quote" placeholder="Max 200 characters please" required></textarea>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Tell us a little intro about yourself</label>
                    <textarea class="form-control" rows="5" type="text" name="description" placeholder="Just a paragraph on what your about" required></textarea>
                </div>
                <div class="form-group">
                    <label>Where did you cut your teeth and what lessons did you learn?</label>
                    <textarea class="form-control" rows="5" type="text" name="learnSkills" placeholder="Make it juicy and interesting" required></textarea>
                </div>
                <div class="form-group">
                    <label>Whats your greatest achievement?</label>
                    <textarea class="form-control" rows="3" type="text" name="achievements" placeholder="We know you're a winner" required></textarea>
                </div>
                <div class="form-group">
                    <label>What are you passionate about?</label>
                    <textarea class="form-control" rows="3" type="text" name="passionateAbout" placeholder="Don't be lame and say cocktails" required></textarea>
                </div>
                <div class="form-group">
                    <label>What do you love about your industry?</label>
                    <textarea class="form-control" rows="3" type="text" name="industryLove" placeholder="What don't I love.. am I right?" required></textarea>
                </div>
                <div class="form-group">
                    <label>If you could change something about your industry what would it be?</label>
                    <textarea class="form-control" rows="3" type="text" name="industryImprove" placeholder="Go on, we're all friends here" required></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-outline-primary btn-block">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<% include ../partials/footer %>