.navbar-brand {
    font-family: Oswald,sans-serif;
    font-weight: 400;
}

.nav li {
    font-family: Oswald,sans-serif;
    text-transform: uppercase;
}

.btn-mtp-black {
    background-color: #000;
    color: #fff;
}

.btn-mtp-black:hover {
    color: #dee0e2;
}

#thumbnail-row {
    display: flex;
    flex-wrap: wrap;
}

#left-show-h3-top {
    padding-top: 20px;
}

#mtp-h1 {
    font-family: Oswald,sans-serif;
    text-transform: uppercase;
}

#mtp-h4 {
    font-family: Oswald,sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
}

#mtp-h4-index {
    font-family: Oswald,sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;
}

.profile-name {
    font-family: Oswald,sans-serif;
    text-transform: uppercase;
}

.show-name {
    font-family: Oswald,sans-serif;
    font-weight: 400;
    font-size: 3em;
    text-transform: uppercase;
}

.show-name-create {
    font-family: Oswald,sans-serif;
    font-weight: 400;
    font-size: 3em;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: center;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline
}

