<% include ../partials/header %>

<div class="transbox">
    <header id="jumbotron-jobs" class="jumbotron">
        <div class="container">
            <h1 id="mtp-h1">MTP Job board</h1>
            <h2>Add a job and find your future legends</h2>
            <br>
            <a class="btn btn-default btn-lg" href="/jobs/new">LIST A JOB ></a>
        </div>
    </header>
</div> 

<div class="container">
    <div id="thumbnail-row" class="row text-center">
        <% jobs.forEach(function(job){ %>
            <div class="col-md-3 col-sm-6 col-xs-12">
               <div class="thumbnail">
                   <div class="caption">
                        <h4 class="profile-name"><strong><%=job.jobVenueName%></strong></h4>
                        <p>is looking for a</p>    
                        <h4 class="profile-name"><%= job.jobRole %></h4>
                   </div>
                   <p>
                       <a href="/jobs/<%= job._id %>" class="btn btn-xs btn-default">Learn More</a>
                   </p>
               </div>
            </div>
        <% }); %> 
    </div>
</div>

<% include ../partials/footer %>